body{
    font-family: ProximaNovaRegular,sans-serif;
}

h2 {
    color: #000;
    font-family: AmalfiRegular;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    position: relative;
}

h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 222px;
    height: 4px;
    background-image: url(../img/h2-bg.png);
    background-repeat: no-repeat;
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
}

.hide_galary{
    display: none;
}

.owl-carousel {
    padding: 0 0 42px;
    margin: 0 0 -10px;
    background-position: -12px bottom;
    background-image: url(../img/border-category.png);
    background-repeat: no-repeat;
}

h3 {
    color: #000;
    font-family: ProximaNovaSemibold;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4;
    margin: 27px 0 9px;
}

.item .item__price {
    position: absolute;
    left: 0px;
    top: 18px;
    max-width: 150px;
    width: 100%;
    text-align: center;
    height: 45px;
    background-color: #fdd491;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
    z-index: 2;
    font-family: ProximaNovaRegular,sans-serif;
}

.item .item__img:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: 5px dashed #e8e8e8;
    display: block;
}

.gallery{
    margin: 0;
}

.added_to_cart{
    display: none;
}

.owl-prev span{
    width: 15px;
    height: 25px;
    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    font-size: 0;
    position: absolute;
    top: 33%;
    left: -50px;
}

.owl-next span{
    width: 15px;
    height: 25px;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    font-size: 0;
    position: absolute;
    top: 33%;
    right: -50px;
}

#cart-popup{
    display: none;
    position: relative;
    background: #fff;
    width: auto;
    margin: 60px auto;
    max-width: 529px;
    width: 100%;
    padding: 5px 60px 95px;
}

button.fancybox-close-small:hover{
    background: #f3f3f3;
}

table.shop_table{
    width: 100%;
    margin: 0;
}

table.shop_table.itog, table.shop_table_2.itog{
    width: 100%;
}

.white-popup h2 {
    text-align: center;
    margin: 20px 0 50px;
}

table.shop_table, table.shop_table tr, table.shop_table td, table.shop_table th, table.shop_table_2, table.shop_table_2 tr, table.shop_table_2 td, table.shop_table_2 th {
    border: none;
}

table.shop_table tr th:nth-child(1), table.shop_table_2 tr th:nth-child(1) {
    text-align: left;
    width: 60px;
}

table.shop_table td, table.shop_table_2 td  {
    padding: 10px 0;
    border-top: 1px solid #d1d1d1;
    position: relative;
}

table.shop_table td.product-thumbnail, table.shop_table_2 td.product-thumbnail {
    padding: 0;
    width: 60px;
}

table.shop_table th.product-quantity, table.shop_table_2 th.product-quantity {
    width: 75px;
}

table.shop_table th.product-price, table.shop_table_2 th.product-price {
    width: 115px;
}

table.shop_table td.product-quantity, table.shop_table_2 td.product-quantity{
    padding: 10px;
    width: 75px;
}

table.shop_table td.product-subtotal, table.shop_table_2 td.product-subtotal{
    width: 115px;
    text-align: right;
}

table.shop_table td.product-subtotal .woocommerce-Price-currencySymbol, table.shop_table_2 td.product-subtotal .woocommerce-Price-currencySymbol{
    display: none;
}

table.shop_table td.product-thumbnail img, table.shop_table_2 td.product-thumbnail img{
    width: 50px;
}

table.shop_table tr th, table.shop_table_2 tr th {
    color: #333;
    font-family: ProximaNovaSemibold;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 0 15px;
    text-align: center;
}

table.shop_table td.product-name a, table.shop_table_2 td.product-name a {
    color: #333;
    font-family: ProximaNovaLight;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    display: inline-block;
    pointer-events: none;
}

table.itog th {
    font-weight: 300;
    border-top: 1px solid #d1d1d1;
}

table.itog td {
    text-align: right;
    width: 115px;
}

.white-popup .input-text, .white-popup input[type=text] {
    width: 100%;
    height: 45px;
    background-color: #f2f2f2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 0 0px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 400;
    color: #282828;
    margin-bottom: 10px;
}

table.shop_table .remove__custom {
    width: 18px;
    height: 18px;
    background-image: url(../img/close-b.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    font-size: 0;
    position: absolute;
    right: -30px;
    top: 23px;
}

table.shop_table_2{
    margin: 0;
}

.white-popup p.form-row{
    padding: 3px;
    margin: 0 0 6px;
}

.white-popup select {
    font-family: ProximaNovaRegular,sans-serif;
}

.white-popup input[type="submit"] {
    text-transform: none;
    font-family: ProximaNovaRegular,sans-serif;
}

#thanks_link{
    display: none;
}

#thanks{
    display: none;
    max-width: 442px;
    text-align: center;
}

#thanks h2:before{
    display: none;
}

.popup-order{
    display: none;
    position: relative;
    background: #fff;
    width: auto;
    margin: 60px auto;
    max-width: 529px;
    width: 100%;
    padding: 5px 60px 95px;
}

.popup-order .cart_totals{
    margin-bottom: 35px;
}

section.about {
    background-color: #fff;
    margin: 0 0 0;
    padding: 80px 0 100px 0;
    position: relative;
}

.fixed{
    position: fixed;
}

section.about h2{
    margin-bottom: 35px;
}

.cart-collaterals_2{
    margin-bottom: 35px;
}

@media (max-width: 992px){
    .owl-prev span {
        left: -8px;
    }    

    .owl-next span {
        right: -8px;
    }
}